In [ ]:
import os, numpy as np, torch, json
import json
import pandas as pd

In [ ]:
with open(r"C:\files_mtp\MTP\new_train_val_results\fold_0\val.json","r") as f:
    data=json.load(f)

In [ ]:
data["confusion_matrix"]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 32, 0, 0, 0, 0, 0, 0, 3, 3, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 110, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 69, 2, 0, 3, 0, 0, 2],
 [0, 0, 0, 0, 2, 0, 0, 4, 60, 1, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 4, 0, 0, 1, 0, 0, 0, 0, 71, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [ ]:
pred_labels = ["pred_class0","pred_class1","pred_class2","pred_class3","pred_class4",
               "pred_class5","pred_class6","pred_class7","pred_class8","pred_class9",
               "pred_class10","pred_class11","pred_class12","pred_class13"]
true_labels = ["true_class0","true_class1","true_class2","true_class3","true_class4",
               "true_class5","true_class6","true_class7","true_class8","true_class9",
               "true_class10","true_class11","true_class12","true_class13"]
df = pd.DataFrame(data["confusion_matrix"], columns=pred_labels, index=true_labels)
df

,pred_class0,pred_class1,pred_class2,pred_class3,pred_class4,pred_class5,pred_class6,pred_class7,pred_class8,pred_class9,pred_class10,pred_class11,pred_class12,pred_class13
true_class0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class3,1,0,0,32,0,0,0,0,0,0,3,3,1,0
true_class4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class5,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class6,0,0,0,0,0,0,110,0,0,0,0,0,0,0
true_class7,0,1,0,0,0,0,0,69,2,0,3,0,0,2
true_class8,0,0,0,0,2,0,0,4,60,1,1,0,0,0
true_class9,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class10,0,0,4,0,0,1,0,0,0,0,71,0,0,0
true_class11,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class12,0,0,0,0,0,0,0,0,0,0,0,0,0,0
true_class13,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
32+110+69+60+71

342

In [ ]:
342/(342+3+5+5)

0.9633802816901409

In [ ]:
mat=[[32,0,0,0,3],[0,110,0,0,0],[0,0,69,2,3],[0,0,4,60,1],[0,0,0,0,71]]

In [ ]:
import numpy as np

def f1_from_cm(cm):
    cm = np.array(cm)
    num_classes = cm.shape[0]

    TP = np.diag(cm)
    FP = np.sum(cm, axis=0) - TP
    FN = np.sum(cm, axis=1) - TP

    # Avoid divide-by-zero
    precision = np.where(TP + FP == 0, 0, TP / (TP + FP))
    recall = np.where(TP + FN == 0, 0, TP / (TP + FN))

    f1 = np.where(
        precision + recall == 0,
        0,
        2 * precision * recall / (precision + recall)
    )

    macro_f1 = np.mean(f1)
    weighted_f1 = np.average(f1, weights=np.sum(cm, axis=1))

    return precision, recall, f1, macro_f1, weighted_f1

# Example usage:
prec, rec, f1, macro_f1, weighted_f1 = f1_from_cm(mat)

print("Per-class F1:", f1)
print("Macro F1:", macro_f1)
print("Weighted F1:", weighted_f1)

Per-class F1: [0.95522388 1.         0.93877551 0.94488189 0.95302013]
Macro F1: 0.9583802829586128
Weighted F1: 0.9633351434953368